<header>
  <a href="/">
    <img style="border-radius: 25px" src="https://s.gravatar.com/avatar/13025a7ce7409a9f4c137bdb32245ff7?s=200" />
  </a>
  <h1 class="view"><a href="/">Steve Gury</a></h1>
  <p>Distributed Systems, Programming Languages, Functional programming</p>
  <p>
    <a href="https://twitter.com/stevegury" target="_blank">Twitter</a> •
    <a href="https://github.com/stevegury" target="_blank">GitHub</a> •
    <a href="https://www.linkedin.com/in/stevegury" target="_blank">LinkedIn</a> •
  </p>
</header>
